

//ul.breadcrumb>li*5>a[href=#]>span.icon+span.text

// 50px:50px;

* {
  box-sizing:(border-box);
  margin: 0;
  padding: 0;
}
.cmp-breadcrumnavabr-container {
  padding: 0 100px;
  background-color: #59a386;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  h1 {
    color: lighten(#65ba99, 5%);
    font-weight: 400;
    padding: 50px 0;
  }
}

  .breadcrumb {
    margin-left: 50px;
    display: inline-block;
    list-style: none;

    li {
      float: right;
      padding: 50px/10;
      background-color: #59a386;
      border-radius:(50px);
      display: flex;
      position: relative;
      margin-left: -50px;
      transition:(all 0.2s);
      margin-top: 3px;

      a {
        overflow: hidden;
        border-radius:(50px);
        transition:(all 0.2s);
        text-decoration: none;
        height: 50px;
        color: darken(#59a386, 5%);
        background-color: #65ba99;
        text-align: center;
        min-width: 50px;
        display: block;
        line-height: 50px;
        padding-left: 50px + 2;
        padding-right: 50px/2 +50px/6;
        width: 50px;

        .icon {
          display: inline-block;
          opacity: 1;
        }

        .text {
          display: none;
          opacity: 0;
        }
        &:hover {
          width: 150px;
          background-color: lighten(#65ba99, 5%);
          .text {
            display: inline-block;
            opacity: 1;
          }
          .icon{
                display: none;
                opacity: 0;
          }
        }
      }

      &:last-child {
        a {
          padding: 0;
        }
        &:hover {
          padding:(50px/10) - 2px;
          margin-top: 0;
          a {
            width: 50px + 10;
            height: 50px + 10;
            line-height: 50px + 10;
          }
        }
      }
    }
  }
