<html>
    <head>
        <meta charset="utf-8"/>
    </head>

    <body>
        <h1>
            Hello world

        </h1>
        <h3>
            Properties
        </h3>
        <p>
            page title : ${Properties.jrc:title}
        </p>
        <h3>
            page details
        </h3>
        <p>currentPage title : ${currentPage.title}</p>
        <p>currentPage Name : ${currentPage.name}</p>
        <p>currentPage Path : ${currentPage.path}</p>
        <p>currentPage depth : ${currentPage.depth}</p>
        <h3>
            Node details 
        </h3>
        
        <p>currentPage Name : ${currentNode.name}</p>
        <p>currentPage Path : ${currentNode.path}</p>
        <p>currentPage depth : ${currentNode.depth}</p>

    </body>
</html>