<div class="cmp-product-grid-container"
data-sly-use.model="com.adobe.aem.guides.wknd.core.models.GridProductCard"
data-sly-list.item="${model.product}">
    <div class="cmp-product-grid-item" >
      

      <div   class="card" >

       
        <div class="cmp-product-grid-item-image" >
          <img class="cmp-product-grid-item-image-img ${item.id}" src="${item.image}" alt="" />
        </div>
        <div class="cmp-product-grid-item-discount ${item.id}">${item.title}</div>
     
    
        <div class="cmp-product-grid-item-price  ${item.id}">${item.price}</div>
        <div class="cmp-product-grid-item-card-botton  ${item.id}">${item.button}</div>
        <!-- <div class="cmp-occupations">${properties.occupations}</div> -->
      
    </div>
    </div>
    </div>

<!-- <div
class="cmp-product-grid-container"
data-sly-use.templates="/libs/core/wcm/components/commons/v1/templates.html"
data-sly-use.model="com.adobe.aem.guides.wknd.core.models.GridProductCard" 
data-cmp-is="product">
    <div class="cmp-product-grid-item"  data-sly-list.item="${model.product}" >
   <div class="card">
    <ul >
        <li class="cmp-product-grid-item-image ">
            <img class="cmp-product-grid-item-image-img }" src="${item.image}" alt="" />
          </li>
    <li class="cmp-product-grid-item-discount ">${item.discount}</li>
    <li class="cmp-product-grid-item-price ">${item.text}</li>
      <li class="cmp-product-grid-item-card-botton ">${item.title}</li>
</ul> -->

