<div  class="cmp-subheader">
    <div class="cmp-subheader-logo">
        <img
        src="https://cdn.about.puma.com/-/media/images/this-is-puma/header-thisispuma_karsten.jpg?as=1&h=384&iar=1&w=768&rev=01ce37c0ba5740a18507ad809dc382f7&hash=F532345BC57743F9CE3BDEEC553069A2"
        alt=""
        class="logo"
      />
    </div>
    <div class="cmp-subheader-subnavabar">

        <div class="cmp-subheader-submenu">
            <a href="#" class="cmp-subheader-button"> ${properties.button1 @context='html'}</a>
            <a href="#" class="cmp-subheader-button"> ${properties.button2 @context='html'}</a>
            <a href="#" class="cmp-subheader-button"> ${properties.button3 @context='html'}</a>
        </div>
    </div>

</div>